body {
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-areas:
        "nav nav nav"
        "main main main"
        "componenti componenti componenti"
        "feats feats feats";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 5fr; /* Questa linea è OPZIONALE */
}

#navigation {
    grid-area: nav;
    background-color: wheat;
    min-height: 5vh;
}

#Main {
    grid-area: main;
    padding: 20px;
    height: 95vh;
}

/* #TODO explain what myVideo css does. */

#myVideo {
    grid-area: main;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.6);
}


#componentiGruppo {
    grid-area: componenti;
    background-color: whitesmoke;
    padding: 20px;
    height: 95vh;
}

#features {
    grid-area: feats;
    background-color: blueviolet;
    padding: 20px;
    height : 95vh;
}